<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DefaultDocumentation" version="0.7.9" targetFramework="net48" developmentDependency="true" />
  <package id="OpenTK" version="3.3.2" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net46" />
</packages>